.table-container {
    height: 63vh;
    overflow-y: scroll;
    overflow-x: hidden;
    width: 70vw;
    margin: auto;
}

table {
    overflow: auto;
    max-width: 1440px;
    margin: auto;
    table-layout: fixed;
    font-size: 20px;
    margin: auto;
    text-align: left;
    border-collapse: collapse;
    border: 1px solid grey;
}

th {
    text-align: center;
}

.breadCrumb {
    font-size: 1.5rem;
}

.breadCrumb h3, a{
    font-weight: 400;
}

.breadCrumb h3 > a {
    color: blue;
}

div::-webkit-scrollbar {
    width: 5px;
    height: 6px;
}

div::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background-color: gray;
}

div::-webkit-scrollbar-track {
    border-radius: 10px;
    
}