.table-container {
    height: 63vh;
    overflow-y: scroll;
    overflow-x: hidden;
    width: 90%;
    margin: auto;
}

table {
    overflow: auto;
    max-width: 1440px;
    margin: auto;
    table-layout: fixed;
    font-size: 20px;
    margin: auto;
    text-align: left;
    border-collapse: collapse;
    border: 1px solid grey;
    width: 100%;
    overflow-wrap: break-word;
}


thead th:nth-child(1) {
  width: 2%;
}
thead th:nth-child(2) {
  width: 3%;
}

thead th:nth-child(3) {
  width: 20%;
}

th {
    text-align: center;
}

.breadCrumb {
    font-size: 1.5rem;
}

.breadCrumb h3, a{
    font-weight: 400;
}

.breadCrumb h3 > a {
    color: blue;
}

.flex_2 {
    flex-grow: 1;
    border-left: 1px solid gray;
    border-right: 1px solid gray;
}

.flex_1 {
    width: 142px;
}

.flex_3 {
    width: 142px;
    background: var(--lightGreen);
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 600;
}

.random_button {
    width: 100%;
    font-size: 18px;
    border: 1px blue;
    background: none;
    padding: 10px;
    color: blue;
    cursor: pointer;
}

div::-webkit-scrollbar {
    width: 5px;
    height: 6px;
}

div::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background-color: gray;
}

div::-webkit-scrollbar-track {
    border-radius: 10px;
    
}

@media (max-width: 1051px) {
    thead th:nth-child(2) {
        width: 4%;
    }
}

@media (max-width: 822px) {
    thead th:nth-child(2) {
        width: 5%;
    }
    thead th:nth-child(1) {
        width: 3%;
    }
    .table-container {
    height: 63vh;
    overflow-y: scroll;
    overflow-x: hidden;
    width: 80%;
    margin: auto;
    }
}

@media (max-width: 620px) {
    thead th:nth-child(1) {
        width: 4%;
    }
    table {
        width: 90%;
    }
}

@media (max-width: 523px) {
    thead th:nth-child(2) {
        width: 8%;
    }
    thead th:nth-child(1) {
        width: 6%;
    }
    .table-container {
    height: 63vh;
    overflow-y: scroll;
    overflow-x: hidden;
    width: 90%;
    margin: auto;
    }
}

@media (max-width: 386px) {
    thead th:nth-child(2) {
        width: 9%;
    }
    thead th:nth-child(1) {
        width: 7%;
    }
    .table-container {
    height: 63vh;
    overflow-y: scroll;
    overflow-x: hidden;
    width: 90%;
    margin: auto;
    }
}

@media (max-width: 330px) {
    thead th:nth-child(2) {
        width: 12%;
    }
    thead th:nth-child(1) {
        width: 9%;
    }
    .table-container {
    height: 63vh;
    overflow-y: scroll;
    overflow-x: hidden;
    width: 90%;
    margin: auto;
}
}