th, td {
    padding: 15px;
    border: 1px solid grey;
}

th {
    letter-spacing: 1px;
}
td, td > a {
    color: blue;
}

td {
    font-weight:500;
}

.green {
    background-color: var(--lightGreen);
}

.notes-icon {
    float: right;
    max-width: 100%;
    min-width: 1%;
    cursor: pointer;
}

.hasNotes {
    filter: invert(20%) sepia(59%) saturate(6345%) hue-rotate(109deg) brightness(97%) contrast(102%);
}