.topic-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    gap: 2%;
    width: 70vw;
    margin: auto;
    height: 80vh;
    overflow: auto;
    padding: 3%;
}