.topic-container {
    display: grid;
    gap: 2%;
    width: 70vw;
    margin: auto;
    height: 63vh;
    overflow: auto;
    padding: 3%;
    max-width: 1440px;
}

@media (min-width: 768px) {
    .topic-container {
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(2, 1fr);
    }
}

@media (min-width: 1200px) {
    .topic-container {
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: repeat(3, 1fr);
    }
}   